nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(202, 152, 87, 0.8);
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link {
  text-decoration: none;
  color: black;
}

.shop-card {
  border-radius: 10px;
  margin: 5px 10px;
  background-color: rgba(129, 129, 129, 0.5);
  padding: 5px;
}

.shop-card img,
.cart-card img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.cart-card {
  border-radius: 10px;
  margin: 5px 10px;
  background-color: rgba(189, 189, 189, 0.5);
  padding: 5px;
}

.cart-card {
  width: 30vw;
  display: grid;
  grid-template-areas:
    'img name price'
    'img quantity quantity';
}

.cart-card img {
  width: 100px;
  height: auto;
  grid-area: img;
}

.cart-card .name {
  grid-area: name;
}

.cart-card .price {
  grid-area: price;
}

.cart-card .quantity {
  grid-area: quantity;
  width: fit-content;
  height: 30px;
  padding: 1px;
  font-size: large;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shop-menu-subsection {
  cursor: pointer;
}
